.container-card-default-cover {
  background: linear-gradient(135deg, #f0f8ff 0%, #e6f7ff 100%);
  padding: 20px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  height: 100px;
}

.container-card-popover {
  max-width: 460px;
}
